.jumbotron {
  padding: 6rem 1rem;
  background: black;
}
#project {
  background-color: black;
}

#about {
  background-color: #212529;
}
#about img {
  width: 400px;
  height: 300px;
}

#resume {
  background-color: black;
}

#skill {
  background-color: #212529;
}

#contact section {
  padding-top: 3rem;
}

.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: aqua;
}
